html, body {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

body {
  font-family: monospace;
  font-size: 14px;
}

.main {
  padding-top: 1%;
  padding-left: 3%;
}

.button {
  font-family: monospace;
  border: 0px;
  outline:0px;
}

/* .chart {
  
} */

.nav {
  margin-top: .5rem;
}

.nav-button {
  margin-right: 1rem;
  font-size: 15px;
}

.nav-button:hover {
  text-decoration: none;
  font-weight: bold;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 40%;
}

table, tr, td {
  border-collapse: collapse;
  border: 1px solid !important;
  padding: 4px;
}



.first_col {
  font-weight: bold; 
}

.table_styling {
  border-collapse: collapse;
}

.link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited { 
 color: black; 
}

.crit:hover {
    text-decoration: underline;
}