html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: monospace;
}

.main {
  padding-top: 5%;
  padding-left: 3%;
}

.button {
  font-family: monospace;
  border: 0px;
  outline:0px;
}

/* .chart {
  
} */

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 40%;
}

table, tr, td {
  border-collapse: collapse;
  border: 1px solid !important;
}



.first_col {
  font-weight: bold; 
}

.table_styling {
  border-collapse: collapse;
}

.link {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited { 
 color: black; 
}